.backIcon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding-right: 10px;
  }
  .cityName {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
    padding-right: 10px;
    gap: 12px;
  }

  .cityName h1 {
    font-size: 12px;
    font-weight: 100;
    margin: 0;
  }
  .cityName img {
    width: 24px;
    height: 24px;
  }
  .details {
    margin-top: 20px;
    position: relative;
    padding: 0 20px;
  }
  .details p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    margin: 0;
  }
  .details p.greyBackground {
    background-color: rgb(241, 238, 238);
    padding: 20px 20px;
    margin: 0 -20px;
    width: calc(100% + 80px);
    position: relative;
    left: -20px;
    box-sizing: border-box;
  }
  .details p:not(.greyBackground) {
    background-color: white;
    padding: 20px 20px;
    margin: 0 -20px;
    width: calc(100% + 80px);
    position: relative;
    left: -20px;
    box-sizing: border-box;
  }


  .details p:last-child {
    border-bottom: none;
    padding: 20px 20px 0px 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .greyBackground {
    background-color: rgb(241, 238, 238);
  }
